.icon{
  padding-top: 15px;
  height: 55px;
  width: 14px;
  background-color: black;
}

.black{
  padding-top: 15px;
  height: 45px;
  background-color: black;
  padding-left: 6px;
}
.thick-box{
  height: 400px;
  background-color: black;
}
